/* Sidebar */
.sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #343a40;
    color: #fff;
    transition: all 0.3s;
    min-height: 100vh;
    position: relative;
}

.sidebar.active {
    margin-left: -250px;
}

.sidebar-header {
    padding: 20px;
    background: #2c3136;
}

.sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

.sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: #fff;
    text-decoration: none;
}

.sidebar ul li a:hover {
    background: #2c3136;
}

.sidebar-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background: #2c3136;
}

/* Navbar */
.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#sidebarCollapse {
    background: transparent;
    border: none;
    padding: 0;
}

#sidebarCollapse i {
    font-size: 1.5em;
    color: #343a40;
} 