{% extends "base.html" %}

{% block title %}Neuer Mitarbeiter{% endblock %}

{% block content %}
<div class="bg-base-100 shadow rounded-lg p-6">
    <h1 class="text-2xl font-bold text-base-content mb-6">Neuen Mitarbeiter hinzufügen</h1>
    
    <form method="post" class="space-y-4">
        <div class="mb-4">
            <label class="block text-sm font-medium text-base-content">Barcode</label>
            <input type="text" 
                   name="barcode" 
                   id="barcodeInput" 
                   required
                   class="input input-bordered w-full"
                   autocomplete="off">
        </div>
        <div>
            <label class="block text-sm font-medium text-base-content">Vorname</label>
            <input type="text" name="name" required
                   class="input input-bordered w-full">
        </div>
        <div>
            <label class="block text-sm font-medium text-base-content">Nachname</label>
            <input type="text" name="lastname" required
                   class="input input-bordered w-full">
        </div>
        <div>
            <label class="block text-sm font-medium text-base-content">Bereich</label>
            <input type="text" name="bereich"
                   class="input input-bordered w-full">
        </div>
        <div>
            <label class="block text-sm font-medium text-base-content">E-Mail</label>
            <input type="email" name="email"
                   class="input input-bordered w-full">
        </div>
        <button type="submit" 
                class="btn bg-[#5b69a7] hover:bg-[#4c5789] text-white">
            Mitarbeiter hinzufügen
        </button>
    </form>
</div>
{% endblock %}