{% extends "base.html" %}

{% block title %}Admin Login{% endblock %}

{% block content %}
<div class="min-h-screen flex items-center justify-center">
    <div class="card bg-base-100 shadow-xl p-8 max-w-md w-full">
        <div>
            <h2 class="text-center text-3xl font-extrabold">
                Administrator Login
            </h2>
        </div>
        <form class="mt-8 space-y-6" action="{{ url_for('login') }}" method="POST">
            <div>
                <label for="password" class="sr-only">Passwort</label>
                <input id="password" 
                       name="password" 
                       type="password" 
                       required 
                       class="input input-bordered w-full"
                       placeholder="Administrator Passwort">
            </div>

            <div>
                <button type="submit" 
                        class="btn btn-primary w-full">
                    Anmelden
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %} 